<!DOCTYPE html>
<html lang="en">
<head>
  <title>Update Product</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Update Product</h2>
  <form action="/update/<%= product._id %>" method="post">
    <div class="mb-3 mt-3">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" 
        placeholder="Enter name" name="name" value="<%= product.name %>" required>
    </div>
    <div class="mb-3 mt-3">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" 
        placeholder="Enter price" name="price" value="<%= product.price %>" required>
    </div>
    <div class="mb-3 mt-3">
      <label for="quantity">Quantity:</label>
      <input type="number" class="form-control" id="quantity" 
        placeholder="Enter quantity" name="quantity" value="<%= product.quantity %>" required>
    </div>
    <div class="mb-3 mt-3">
      <label for="brand">Brand:</label>
      <input type="text" class="form-control" id="brand" 
        placeholder="Enter brand" name="brand" value="<%= product.brand %>" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/" class="btn btn-secondary">Cancel</a>
  </form>
</div>

</body>
</html>
